# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.*

# Static files (optional)
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# PyCharm extra
*.iml

# Migrations (keep usually)
# */migrations/*
# !*/migrations/__init__.py